@import 'iconFonts.css';
@import 'font.scss';
@import 'mixins.scss';
@import 'settings.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
	background-color: #eef5ff;
}
@layer base {
	html {
		font-family: 'Gilroy';
	}
	h1 {
		@include adaptiveValue(font-size, 40, 24);
		@apply leading-[48px] font-semibold;
	}
	h2 {
		@include adaptiveValue(font-size, 40, 24);
		@apply leading-[48px] font-semibold;
	}
	h3 {
		@include adaptiveValue(font-size, 32, 22);
		@apply leading-10 font-semibold;
	}
	h4 {
		@include adaptiveValue(font-size, 24, 20);
		@apply leading-8 font-semibold;
	}
	h5 {
		@include adaptiveValue(font-size, 20, 18);
		@apply leading-7 font-semibold;
	}
	h6 {
		@include adaptiveValue(font-size, 16, 16);
		@apply leading-6 font-semibold;
	}
	p {
		@apply leading-6 text-stone-500 text-base;
	}
	.scrollCust {
		&::-webkit-scrollbar-button {
			background-repeat: no-repeat;
			width: 5px;
			height: 0;
		}

		&::-webkit-scrollbar-track {
			background-color: #e7e7e7;
			border-radius: 50px;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 5px;
			background-color: #1b4dff;
		}

		&::-webkit-resizer {
			background-repeat: no-repeat;
			width: 5px;
			height: 0;
		}

		&::-webkit-scrollbar {
			width: 0;
		}

		&::-webkit-scrollbar-button {
			background-repeat: no-repeat;
			width: 5px;
			height: 0;
		}

		&::-webkit-scrollbar-track {
			//background-color: #e7e7e7;
			border-radius: 50px;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 5px;
			background-color: #1b4dff;
		}

		&::-webkit-resizer {
			background-repeat: no-repeat;
			width: 7px;
			height: 0;
		}

		&::-webkit-scrollbar {
			width: 5px !important;
		}
	}
}
